/* Funkturm font family */
@font-face {
  font-family: 'Funkturm';
  src: url('./fonts/Funkturm.otf');
}

@font-face {
  font-family: 'BN Chester';
  src: url('./fonts/BNChester.otf');
}

@font-face {
  font-family: 'Agrandir-GrandLight';
  src: url('./fonts/Agrandir/Agrandir-GrandLight.otf');
}

@font-face {
  font-family: 'Agrandir-GrandHeavy';
  src: url('./fonts/Agrandir/Agrandir-GrandHeavy.otf');
}

@font-face {
  font-family: 'Agrandir-Regular';
  src: url('./fonts/Agrandir/Agrandir-Regular.otf');
}

@font-face {
  font-family: 'Agrandir-TextBold';
  src: url('./fonts/Agrandir/Agrandir-TextBold.otf');
}

@font-face {
  font-family: 'Magilio-Regular';
  src: url('./fonts/MagilioRegular.ttf');
}

@font-face {
  font-family: 'Derivia-Regular';
  src: url('./fonts/Derivia-Regular.otf');
}

@font-face {
  font-family: 'Cooper-Nouveau';
  src: url('./fonts/CooperNouveau.otf');
}

/* Futura PT font family */
@import url("https://use.typekit.net/qmg7ofa.css");

/* Poppins font family */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

/* PT Serif font family */
@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* Libre Franklin font family */
@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* DM Serif Display font family*/
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital,wght@0,300;0,400;1,400;1,700&display=swap');

/* Lora font family */
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600&display=swap');

/* Martel font */
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600&family=Martel:wght@200&display=swap');


html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
}